<div class="container my-5">
  <span style="padding: 5px; background-color : red; border:1px solid black; color:white">Booked</span>
  <span style="padding: 5px;background-color :white; border:1px solid black;">Available</span>
  <span style="padding: 5px;background-color :#ade498; border:1px solid black;">Selected</span>
  <div class="card mb-3">
    <div class="card-body" style="min-height:400px;background-color:whitesmoke;">
      <div class="row">
        {{#each data}}
        {{#if (rowfour this.seats)}}<div class="col-lg-2"></div>{{/if}}
        {{#if (rowstart this.seats)}}<div class="col-lg-2"></div>{{/if}}
        <div class=" seats col-lg-1  col-sm-1" data-id={this.seats}>
          <span style="color: blue"> {{this.seats}}</span>
          <br>
          <img class="seat-img"
            src={{#if (equality this.availability)}}"https://res.cloudinary.com/dfppytfle/image/upload/v1605901718/seat-available_bxxjjh.png"
            {{else}} "https://res.cloudinary.com/dfppytfle/image/upload/v1605901718/seat-booked_ulpfqd.png" {{/if}}
            id={{#if (equality this.availability)}}"available" {{else}} "booked" {{/if}} />
        </div>
        {{#if (rowend this.seats)}}<div class="col-lg-2"></div>{{/if}}
        {{#if (rowmid this.seats)}}<div class="col-lg-7"></div>{{/if}}
        {{/each}}

      </div>
    </div>
  </div>
  <button class="btn btn-primary" id="checkout" value={{this.busid}}> Book Seats</button>
</div>

<script>
  let seatsSelected = []
  window.document.body.addEventListener("click", event => {

    const $targetElement = event.target;
    const clas = `.${$targetElement.className.baseVal}`.toString();
    const chair = document.querySelectorAll(clas);
    console.log("outside for");
    for (i = 0; i < chair.length; i++) {
      console.log("inside for");
      const id = chair[0].getAttribute("data-id");
      console.log(chair[0].getAttribute("data-id"));
      if (chair[i].getAttribute("id") == "available") {
        if (seatsSelected.length <= 2) {
          if (i == 0) {
            seatsSelected.push(id)
          }
          if ((seatsSelected.length < 3)) {
            chair[i].setAttribute("src", "https://res.cloudinary.com/dfppytfle/image/upload/v1605901718/seat-select_uhbwcj.png");
          }
        } else {
          seatsSelected.pop()
          alert("Cannot select more than 2 Seats, Please deselect a seat to continue..");
          return false;
        }

      } else {
        if (i == 0) {
          let ind = seatsSelected.indexOf(id)
          seatsSelected.splice(ind, 1)
        }
        chair[i].setAttribute("src", "https://res.cloudinary.com/dfppytfle/image/upload/v1605901718/seat-available_bxxjjh.png");
      }
    }
    console.log(seatsSelected)
    if ($targetElement.id === "checkout" && seatsSelected.length > 0) {
      const config = {
        method: "GET"
      }

      const busid = $targetElement.getAttribute("value");
      (async update => {
        const result = await seatsSelected.forEach(seater => {
          fetch(`/updateseats/${busid}/${seater}`, config)
            .then(response => {
              if (response.status === 200) {
                return response.json()
              } else {
                throw (new Error(response.status))
              }
            })
            .catch(error => {
              switch (error.message) {
                case "400":
                  alert("Please check form values...");
                  break;
                case "500":
                  alert("Please Try after some time...");
                  break;
                default:
                  console.error(error);
              }
            });
        });
      })().then(data => {
        window.location.replace("https://i6ipn.sse.codesandbox.io/success");
      });
    }
  });
</script>