<div class="container my-5">
  <div class="jumbotron text-center">
    <h1 class="display-4">Hello, User!</h1>
    <p class="lead">Your bus ticket has been booked Successfully</p>
    <img src="https://paytm-travel.s3-us-west-2.amazonaws.com/Marketing/Rajesh/APSRTC.jpg" class="img-fluid" alt="bus">
    <hr class="my-4">
    <p>Thank you for your patience.</p>
    <a class="btn btn-primary btn-lg" href="/list" role="button">List of all Buses</a>
  </div>
</div>